@mixin font($fw: 400, $fs: 16px, $lh: normal, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin section(
  $pt: calc(50px + (80 - 50) * ((100vw - 320px) / (768 - 320))),
  $pb: calc(50px + (80 - 50) * ((100vw - 320px) / (768 - 320)))
) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin mobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin circle {
  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    top: 60%;
    left: -45%;
    border-radius: 100%;
    background: linear-gradient(86.6deg, #ff0f87 -23.87%, #4612cc 124.07%),
      #c4c4c4;
    opacity: 0.5;
    filter: blur(100px);
    animation: heartbeat 5s ease infinite;
  }
  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    to {
      transform: scale(1);
    }
  }
}

@mixin rectangle-ltr {
  &:after {
    content: '';
    position: absolute;
    width: calc(983px + (1559 - 983) * ((100vw - 320px) / (768 - 320)));
    height: calc(174px + (400 - 174) * ((100vw - 320px) / (768 - 320)));
    background: linear-gradient(to right, #ff0f87, #4612cc);
    z-index: -1;

    @media screen and (max-width: 767px) {
      top: calc(50% + (75 - 200) * ((100vw - 320px) / (768 - 320)));
      transform: translateY(50%) skew(20deg) rotate(43deg);
      margin-left: -254px;
      margin-right: -254px;
    }

    @media screen and (min-width: 768px) {
      width: 200px;
      height: 100%;
      left: 50%;
      top: 0;
      transform: skewX(215deg) translateX(-50%);
      background: linear-gradient(180deg, #ff0f87 -23.87%, #4612cc 124.07%),
        #c4c4c4;
      animation: fadeIn 5s ease-in;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      left: 100%;
    }

    to {
      opacity: 1;
      left: 50%;
    }
  }
}

@mixin rectangle-rtl {
  &:after {
    content: '';
    position: absolute;
    top: 25%;
    width: calc(983px + (1559 - 983) * ((100vw - 320px) / (768 - 320)));
    height: calc(174px + (400 - 174) * ((100vw - 320px) / (768 - 320)));
    z-index: -1;

    @media screen and (max-width: 767px) {
      background: linear-gradient(to left, #ff0f87, #4612cc);
      transform: translateY(50%) skew(-20deg) rotate(-43deg);
      margin-right: -254px;
      margin-left: -254px;
    }

    @media screen and (min-width: 768px) {
      width: 200px;
      height: 100%;
      left: 50%;
      top: 0;
      transform: skewX(-215deg) translateX(-50%);
      background: linear-gradient(0deg, #ff0f87 -23.87%, #4612cc 124.07%),
        #c4c4c4;
      animation: fadeIn 5s ease-in;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      left: 100%;
    }

    to {
      opacity: 1;
      left: 50%;
    }
  }
}
