@mixin font($fw: 400, $fs: 16px, $lh: normal, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin section($pt: 50px, $pb: 50px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin mobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: 1920px) {
    @content;
  }
}
