%bg-ltr {
  position: absolute;
  content: '';
  width: calc(983px + (1559 - 983) * ((100vw - 320px) / (768 - 320)));
  height: calc(174px + (400 - 174) * ((100vw - 320px) / (768 - 320)));
  z-index: -1;
  background: linear-gradient(to right, #ff0f87, #4612cc);
  transform: translateY(50%) skew(20deg) rotate(43deg);
  margin-left: -254px;
  margin-right: -254px;
}

%bg-rtl {
  position: absolute;
  content: '';
  top: 25%;
  width: calc(983px + (1559 - 983) * ((100vw - 320px) / (768 - 320)));
  height: calc(174px + (400 - 174) * ((100vw - 320px) / (768 - 320)));
  z-index: -1;
  background: linear-gradient(to left, #ff0f87, #4612cc);
  transform: translateY(50%) skew(-20deg) rotate(-43deg);
  margin-left: -254px;
  margin-right: -254px;
}
