<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Контакти</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <h3 class="contacts__subtitle">Центральний офіс:</h3>
        <address>
          <ul class="contacts__sublist">
            <li class="contacts__subitem">
              <a
                class="footer__descr"
                href="https://maps.app.goo.gl/8uB5yxPXKVD9QiLn8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >м. Київ, пр-т Лесі Українки, 26</a
              >
            </li>
            <li class="contacts__subitem">
              <a class="footer__contacts" href="tel:+380961111111"
                >+38 096 111 11 11</a
              >
            </li>
            <li class="contacts__subitem">
              <a class="footer__contacts" href="mailto:info@devstudio.com"
                >info@devstudio.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts__item">
        <h3 class="contacts__subtitle">Сервісний центр:</h3>
        <address>
          <ul>
            <li class="contacts__subitem">
              <a
                class="footer__descr"
                href="https://maps.app.goo.gl/8uB5yxPXKVD9QiLn8"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >м. Київ, пр-т Лесі Українки, 26</a
              >
            </li>
            <li class="contacts__subitem">
              <a class="footer__contacts" href="tel:+380961111111"
                >+38 096 111 11 11</a
              >
            </li>
            <li class="contacts__subitem">
              <a class="footer__contacts" href="mailto:info@devstudio.com"
                >info@devstudio.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2536.8111700784616!2d30.438513599999993!3d50.5190802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d29b9e369069%3A0xff64663a5fd75cd5!2z0LLRg9C70LjRhtGPINCb0LXRgdGWINCj0LrRgNCw0ZfQvdC60LgsIDI2LCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1722286505551!5m2!1suk!2sua"
      width="290"
      height="440"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
