<header class="header">
  <div class="header__container">
    <div class="header__thumb">
      <svg class="logo" width="135" height="48">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <button class="menu-btn">
        <svg class="menu-btn__icon" width="28" height="20">
          <use href="./images/sprite.svg#icon-burger-btn"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu">
      <button class="mobile-menu__close">
        <svg class="mobile-menu__icon" width="15" height="15">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li><a class="nav__link" href="">Главная</a></li>
          <li><a class="nav__link" href="">Подукция</a></li>
          <li><a class="nav__link" href="">Где купить</a></li>
          <li><a class="nav__link" href="">Вопрос-ответ</a></li>
          <li><a class="nav__link" href="">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
