<section class="hero">
  <div class="hero__container">
    <h1 class="hero__title">Автомагнітола CarFly M320</h1>
    <p class="hero__descr">
      Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
      простого доступу до програм смартфона за допомогою чотирьох спеціальних
      кнопок.
    </p>
    <img
      class="hero__img"
      src="./images/hero/hero-img@3x.png"
      alt="Магнітола"
      width="693"
      height="487"
    />
    <ul class="hero__list">
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-android"></use>
          </svg>
        </div>
        <p class="hero__description">Android 8.2</p>
      </li>
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-size"></use>
          </svg>
        </div>
        <p class="hero__description">180x50x160 мм</p>
      </li>
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-sound-bars-pulse"></use>
          </svg>
        </div>
        <p class="hero__description">4x22 Вт</p>
      </li>
    </ul>
    <button class="hero__btn">
      Детальніше
      <svg class="hero__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-pdf-file"></use>
      </svg>
    </button>
  </div>
</section>
