<div class="hero__container">
  <div>
    <h1 class="hero__title">Автомагнітола CarFly M320</h1>
    <p class="hero__descr">
      Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
      простого доступу до програм смартфона за допомогою чотирьох спеціальних
      кнопок.
    </p>
  </div>
  <div class="hero__wrap">
    <picture>
      <!-- mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/hero-img-m-290.webp   290w,
          ./images/hero/hero-img-m-435.webp   435w,
          ./images/hero/hero-img-m-580.webp   580w,
          ./images/hero/hero-img-m-693.webp   693w,
          ./images/hero/hero-img-m-870.webp   870w,
          ./images/hero/hero-img-m-1305.webp 1305w,
          ./images/hero/hero-img-m-1386.webp 1386w,
          ./images/hero/hero-img-m-2079.webp 2079w
        "
        sizes="(max-width: 320px) 280px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/hero/hero-img-m-290.png   290w,
          ./images/hero/hero-img-m-435.png   435w,
          ./images/hero/hero-img-m-580.png   580w,
          ./images/hero/hero-img-m-693.png   693w,
          ./images/hero/hero-img-m-870.png   870w,
          ./images/hero/hero-img-m-1305.png 1305w,
          ./images/hero/hero-img-m-1386.png 1386w,
          ./images/hero/hero-img-m-2079.png 2079w
        "
        sizes="(max-width: 320px) 280px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
        type="image/png"
      />

      <!-- desktop screen -->
      <source
        media="(max-width: 1920px)"
        srcset="
          ./images/hero/hero-img-m-290.webp   290w,
          ./images/hero/hero-img-m-435.webp   435w,
          ./images/hero/hero-img-m-580.webp   580w,
          ./images/hero/hero-img-m-693.webp   693w,
          ./images/hero/hero-img-m-870.webp   870w,
          ./images/hero/hero-img-m-1305.webp 1305w,
          ./images/hero/hero-img-m-1386.webp 1386w,
          ./images/hero/hero-img-m-2079.webp 2079w
        "
        sizes="(max-width: 1440px) 442px, (max-width: 1920px) 589px, 100vw"
        type="image/webp"
      />
      <source
        media="(max-width: 1920px)"
        srcset="
          ./images/hero/hero-img-m-290.png   290w,
          ./images/hero/hero-img-m-435.png   435w,
          ./images/hero/hero-img-m-580.png   580w,
          ./images/hero/hero-img-m-693.png   693w,
          ./images/hero/hero-img-m-870.png   870w,
          ./images/hero/hero-img-m-1305.png 1305w,
          ./images/hero/hero-img-m-1386.png 1386w,
          ./images/hero/hero-img-m-2079.png 2079w
        "
        sizes="(max-width: 1440px) 442px, (max-width: 1920px) 589px, 100vw"
        type="image/png"
      />

      <!-- fallback -->
      <img
        class="hero__img"
        src="./images/hero/hero-img-m-2079.png"
        alt="Магнітола"
        loading="lazy"
      />
    </picture>
    <ul class="hero__list">
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-android"></use>
          </svg>
        </div>
        <p class="hero__description">Android 8.2</p>
      </li>
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-size"></use>
          </svg>
        </div>
        <p class="hero__description">180x50x160 мм</p>
      </li>
      <li class="hero__item">
        <div class="hero__thumb">
          <svg class="hero__icon" width="20">
            <use href="./images/sprite.svg#icon-sound-bars-pulse"></use>
          </svg>
        </div>
        <p class="hero__description">4x22 Вт</p>
      </li>
    </ul>
  </div>
  <a class="hero__btn" href="./catalog/carfly_a4.pdf" download="carfly_a4.pdf">
    Детальніше
    <svg class="hero__btn-icon" width="24">
      <use href="./images/sprite.svg#icon-pdf-file"></use>
    </svg>
  </a>
</div>
