<section class="info" id="info">
  <div class="container">
    <h2 class="info__title">Часті запитання</h2>

    <ul class="accordion">
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Який розмір пристрою?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Розмір пристрою 178х100, діагональ 7 дюймів.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Чи можу я самостійно встановити?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Пристрій універсальний, підійде на більшість автомобілів. У випадку деяких автомобілів стандартного комплекту проводів буде цілком достатньо.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Після встановлення залишилися проміжки навколо пристрою, що з цим робити?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            У деяких автомобілях для правильної установки необхідна перехідна рамка, щоб прибрати всі зазори та нерівності. Для уточнення зверніться до техпідтримки.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
           Чи можливо запустити штатний підсилювач?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Можливо, для більшості автомобілів передбачений Canbus, який купується окремо під модель автомобіля, де є заводський підсилювач звуку.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
           Чи працюватимуть у мене кнопки на кермі?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Найчастіше для підключення кнопок на кермі достатньо набору дротів із комплекту пристрою, але трапляються випадки, де необхідний Canbus. Для уточнення за моделлю вашого автомобіля, напишіть у техпідтримку.
          </p>
        </div>
      </li>
  </div>
</section>
