<section class="info">
  <div class="container">
    <h2 class="info__title">Часті запитання</h2>

    <ul class="accordion">
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Гекзаметр посилює страховий поліс – це вже п'ята стадія розуміння
            щодо М.Бахтіна?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Акредитив, як випливає з вищесказаного, ґрунтується на досвіді?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Акредитив, як випливає з вищесказаного, ґрунтується на досвіді?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Гекзаметр посилює страховий поліс – це вже п'ята стадія розуміння
            щодо М.Бахтіна?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Акредитив, як випливає з вищесказаного, ґрунтується на досвіді?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
      <li class="accordion__item">
        <button class="accordion__btn">
          <span class="accordion__header">
            Акредитив, як випливає з вищесказаного, ґрунтується на досвіді?
          </span>
          <svg class="accordion__icon" width="22" height="11">
            <use href="./images/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <div class="accordion__thumb">
          <p class="accordion__descr">
            Письменник-модерніст, з характерологічної точки зору практично
            завжди є шизоїдом або поліфонічним мозаїком, отже діалектичний
            характер притягує план розміщення.
          </p>
        </div>
      </li>
  </div>
</section>
