<section class="products">
  <div class="container">
    <h2 class="products__title">Продукція</h2>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <!-- desktop screen -->
          <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          /> -->

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img01-250.webp   250w,
              ./images/products/products-img01-375.webp   375w,
              ./images/products/products-img01-500.webp   500w,
              ./images/products/products-img01-600.webp   600w,
              ./images/products/products-img01-750.webp   750w,
              ./images/products/products-img01-1125.webp 1125w,
              ./images/products/products-img01-1200.webp 1200w,
              ./images/products/products-img01-1800.webp 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img01-250.png   250w,
              ./images/products/products-img01-375.png   375w,
              ./images/products/products-img01-500.png   500w,
              ./images/products/products-img01-600.png   600w,
              ./images/products/products-img01-750.png   750w,
              ./images/products/products-img01-1125.png 1125w,
              ./images/products/products-img01-1200.png 1200w,
              ./images/products/products-img01-1800.png 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/png"
          />
          <!-- fallback -->
          <img
            class="product__img"
            src="./images/products/products-img01-1800.png"
            alt="Магнітола"
            loading="lazy"
          />
        </picture>
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <picture>
          <!-- desktop screen -->
          <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          /> -->

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img02-250.webp   250w,
              ./images/products/products-img02-375.webp   375w,
              ./images/products/products-img02-500.webp   500w,
              ./images/products/products-img02-600.webp   600w,
              ./images/products/products-img02-750.webp   750w,
              ./images/products/products-img02-1125.webp 1125w,
              ./images/products/products-img02-1200.webp 1200w,
              ./images/products/products-img02-1800.webp 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img02-250.png   250w,
              ./images/products/products-img02-375.png   375w,
              ./images/products/products-img02-500.png   500w,
              ./images/products/products-img02-600.png   600w,
              ./images/products/products-img02-750.png   750w,
              ./images/products/products-img02-1125.png 1125w,
              ./images/products/products-img02-1200.png 1200w,
              ./images/products/products-img02-1800.png 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/png"
          />
          <!-- fallback -->
          <img
            class="product__img"
            src="./images/products/products-img02-1800.png"
            alt="Магнітола"
            loading="lazy"
          />
        </picture>
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <picture>
          <!-- desktop screen -->
          <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          /> -->

          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img03-250.webp   250w,
              ./images/products/products-img03-375.webp   375w,
              ./images/products/products-img03-500.webp   500w,
              ./images/products/products-img03-600.webp   600w,
              ./images/products/products-img03-750.webp   750w,
              ./images/products/products-img03-1125.webp 1125w,
              ./images/products/products-img03-1200.webp 1200w,
              ./images/products/products-img03-1800.webp 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/products-img03-250.png   250w,
              ./images/products/products-img03-375.png   375w,
              ./images/products/products-img03-500.png   500w,
              ./images/products/products-img03-600.png   600w,
              ./images/products/products-img03-750.png   750w,
              ./images/products/products-img03-1125.png 1125w,
              ./images/products/products-img03-1200.png 1200w,
              ./images/products/products-img03-1800.png 1800w
            "
            sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
            type="image/png"
          />
          <!-- fallback -->
          <img
            class="product__img"
            src="./images/products/products-img03-1800.png"
            alt="Магнітола"
            loading="lazy"
          />
        </picture>
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
