<section class="products">
  <div class="container">
    <h2 class="products__title">Продукція</h2>
    <ul class="products__list">
      <li class="products__item">
        <img
          class="product__img"
          src="./images/products/image 8@3x.png"
          alt="Магнітола"
          width=""
          height=""
        />
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <img
          class="product__img"
          src="./images/products/image 8@3x.png"
          alt="Магнітола"
          width=""
          height=""
        />
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
      <li class="products__item">
        <img
          class="product__img"
          src="./images/products/image 8@3x.png"
          alt="Магнітола"
          width=""
          height=""
        />
        <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
        <p class="products__descr">
          Приймач для смартфона SPH-10BT Pioneer створений для безпечного та
          простого доступу до програм смартфона за допомогою чотирьох
          спеціальних кнопок.
        </p>
        <p class="products__price">24 999 грн</p>
        <button class="btn">
          Детальніше
          <svg class="btn__icon" width="24">
            <use href="./images/sprite.svg#icon-pdf-file"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
