<div class="section">
  <section class="products" id="products">
    <div class="container">
      <h2 class="products__title">Продукція</h2>
      <ul class="products__list">
        <li class="products__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img01-m-250.webp   250w,
                ./images/products/products-img01-m-375.webp   375w,
                ./images/products/products-img01-m-500.webp   500w,
                ./images/products/products-img01-m-600.webp   600w,
                ./images/products/products-img01-m-750.webp   750w,
                ./images/products/products-img01-m-1125.webp 1125w,
                ./images/products/products-img01-m-1200.webp 1200w,
                ./images/products/products-img01-m-1800.webp 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 180px, 25vw"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img01-m-250.png   250w,
                ./images/products/products-img01-m-375.png   375w,
                ./images/products/products-img01-m-500.png   500w,
                ./images/products/products-img01-m-600.png   600w,
                ./images/products/products-img01-m-750.png   750w,
                ./images/products/products-img01-m-1125.png 1125w,
                ./images/products/products-img01-m-1200.png 1200w,
                ./images/products/products-img01-m-1800.png 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 180px, 25vw"
              type="image/png"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img01-m-250.webp   250w,
                ./images/products/products-img01-m-375.webp   375w,
                ./images/products/products-img01-m-500.webp   500w,
                ./images/products/products-img01-m-600.webp   600w,
                ./images/products/products-img01-m-750.webp   750w,
                ./images/products/products-img01-m-1125.webp 1125w,
                ./images/products/products-img01-m-1200.webp 1200w,
                ./images/products/products-img01-m-1800.webp 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img01-m-250.png   250w,
                ./images/products/products-img01-m-375.png   375w,
                ./images/products/products-img01-m-500.png   500w,
                ./images/products/products-img01-m-600.png   600w,
                ./images/products/products-img01-m-750.png   750w,
                ./images/products/products-img01-m-1125.png 1125w,
                ./images/products/products-img01-m-1200.png 1200w,
                ./images/products/products-img01-m-1800.png 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/png"
            />
            <!-- fallback -->
            <img
              class="product__img"
              src="./images/products/products-img01-m-1800.png"
              alt="Магнітола"
              loading="lazy"
            />
          </picture>
          <div class="products__wrap">
            <div>
              <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
              <p class="products__descr">
                Приймач для смартфона SPH-10BT Pioneer створений для безпечного
                та простого доступу до програм смартфона за допомогою чотирьох
                спеціальних кнопок.
              </p>
            </div>
            <p class="products__price">24 999 грн</p>
            <button class="btn">
              Детальніше
              <svg class="btn__icon" width="24">
                <use href="./images/sprite.svg#icon-pdf-file"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img02-m-250.webp   250w,
                ./images/products/products-img02-m-375.webp   375w,
                ./images/products/products-img02-m-500.webp   500w,
                ./images/products/products-img02-m-600.webp   600w,
                ./images/products/products-img02-m-750.webp   750w,
                ./images/products/products-img02-m-1125.webp 1125w,
                ./images/products/products-img02-m-1200.webp 1200w,
                ./images/products/products-img02-m-1800.webp 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 215px,  100vw"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img02-m-250.png   250w,
                ./images/products/products-img02-m-375.png   375w,
                ./images/products/products-img02-m-500.png   500w,
                ./images/products/products-img02-m-600.png   600w,
                ./images/products/products-img02-m-750.png   750w,
                ./images/products/products-img02-m-1125.png 1125w,
                ./images/products/products-img02-m-1200.png 1200w,
                ./images/products/products-img02-m-1800.png 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 215px,  100vw"
              type="image/png"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img02-m-250.webp   250w,
                ./images/products/products-img02-m-375.webp   375w,
                ./images/products/products-img02-m-500.webp   500w,
                ./images/products/products-img02-m-600.webp   600w,
                ./images/products/products-img02-m-750.webp   750w,
                ./images/products/products-img02-m-1125.webp 1125w,
                ./images/products/products-img02-m-1200.webp 1200w,
                ./images/products/products-img02-m-1800.webp 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img02-m-250.png   250w,
                ./images/products/products-img02-m-375.png   375w,
                ./images/products/products-img02-m-500.png   500w,
                ./images/products/products-img02-m-600.png   600w,
                ./images/products/products-img02-m-750.png   750w,
                ./images/products/products-img02-m-1125.png 1125w,
                ./images/products/products-img02-m-1200.png 1200w,
                ./images/products/products-img02-m-1800.png 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/png"
            />
            <!-- fallback -->
            <img
              class="product__img"
              src="./images/products/products-img02-m-1800.png"
              alt="Магнітола"
              loading="lazy"
            />
          </picture>
          <div class="products__wrap">
            <div>
              <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
              <p class="products__descr">
                Приймач для смартфона SPH-10BT Pioneer створений для безпечного
                та простого доступу до програм смартфона за допомогою чотирьох
                спеціальних кнопок.
              </p>
            </div>
            <p class="products__price">24 999 грн</p>
            <button class="btn">
              Детальніше
              <svg class="btn__icon" width="24">
                <use href="./images/sprite.svg#icon-pdf-file"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="products__item">
          <picture>
            <!-- desktop screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img03-m-250.webp   250w,
                ./images/products/products-img03-m-375.webp   375w,
                ./images/products/products-img03-m-500.webp   500w,
                ./images/products/products-img03-m-600.webp   600w,
                ./images/products/products-img03-m-750.webp   750w,
                ./images/products/products-img03-m-1125.webp 1125w,
                ./images/products/products-img03-m-1200.webp 1200w,
                ./images/products/products-img03-m-1800.webp 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 215px,  100vw"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products/products-img03-m-250.png   250w,
                ./images/products/products-img03-m-375.png   375w,
                ./images/products/products-img03-m-500.png   500w,
                ./images/products/products-img03-m-600.png   600w,
                ./images/products/products-img03-m-750.png   750w,
                ./images/products/products-img03-m-1125.png 1125w,
                ./images/products/products-img03-m-1200.png 1200w,
                ./images/products/products-img03-m-1800.png 1800w
              "
              sizes="(min-width: 1920px) 215px, (min-width: 768px) 215px,  100vw"
              type="image/png"
            />

            <!-- mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img03-m-250.webp   250w,
                ./images/products/products-img03-m-375.webp   375w,
                ./images/products/products-img03-m-500.webp   500w,
                ./images/products/products-img03-m-600.webp   600w,
                ./images/products/products-img03-m-750.webp   750w,
                ./images/products/products-img03-m-1125.webp 1125w,
                ./images/products/products-img03-m-1200.webp 1200w,
                ./images/products/products-img03-m-1800.webp 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/products-img03-m-250.png   250w,
                ./images/products/products-img03-m-375.png   375w,
                ./images/products/products-img03-m-500.png   500w,
                ./images/products/products-img03-m-600.png   600w,
                ./images/products/products-img03-m-750.png   750w,
                ./images/products/products-img03-m-1125.png 1125w,
                ./images/products/products-img03-m-1200.png 1200w,
                ./images/products/products-img03-m-1800.png 1800w
              "
              sizes="(max-width: 320px) 250px, (max-width: 480px) 375px, (max-width: 767px) 600px, 100vw"
              type="image/png"
            />
            <!-- fallback -->
            <img
              class="product__img"
              src="./images/products/products-img03-m-1800.png"
              alt="Магнітола"
              loading="lazy"
            />
          </picture>
          <div class="products__wrap">
            <div>
              <h3 class="products__subtitle">Автомагнітола CarFly M320</h3>
              <p class="products__descr">
                Приймач для смартфона SPH-10BT Pioneer створений для безпечного
                та простого доступу до програм смартфона за допомогою чотирьох
                спеціальних кнопок.
              </p>
            </div>
            <p class="products__price">24 999 грн</p>
            <button class="btn">
              Детальніше
              <svg class="btn__icon" width="24">
                <use href="./images/sprite.svg#icon-pdf-file"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
