<section class="sellers">
  <div class="container">
    <h2 class="sellers__title">Де купити?</h2>

    <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/sellers/1@3x.png" alt="" width="377" height="188">
          </div>
          <div class="swiper-slide">
            <img src="./images/sellers/2@3x.png" alt="" width="377" height="188">
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-arrow-left"></use>
            </svg>
          </div>
        </div>
  </div>
</section>
