<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="sellers__title">Де купити?</h2>

    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          /> -->

            <!-- mobile screen -->
            <source media="(max-width: 767px)" srcset="
          ./images/sellers/sellers-img01-m-290.webp   290w,
          ./images/sellers/sellers-img01-m-435.webp   435w,
          ./images/sellers/sellers-img01-m-580.webp   580w,
          ./images/sellers/sellers-img01-m-695.webp   695w,
          ./images/sellers/sellers-img01-m-870.webp   870w,
          ./images/sellers/sellers-img01-m-1305.webp 1305w,
          ./images/sellers/sellers-img01-m-1390.webp 1390w,
          ./images/sellers/sellers-img01-m-2085.webp 2085w
        " sizes="(max-width: 320px) 290px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
              type="image/webp" />
            <source media="(max-width: 767px)" srcset="
          ./images/sellers/sellers-img01-m-290.png   290w,
          ./images/sellers/sellers-img01-m-435.png   435w,
          ./images/sellers/sellers-img01-m-580.png   580w,
          ./images/sellers/sellers-img01-m-695.png   695w,
          ./images/sellers/sellers-img01-m-870.png   870w,
          ./images/sellers/sellers-img01-m-1305.png 1305w,
          ./images/sellers/sellers-img01-m-1390.png 1390w,
          ./images/sellers/sellers-img01-m-2085.png 2085w
        " sizes="(max-width: 320px) 290px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
              type="image/png" />
            <!-- fallback -->
            <img class="hero__img" src="./images/sellers/sellers-img01-m-2085.png" alt="Яндекс маркет" loading="lazy" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <!-- desktop screen -->
            <!-- <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          /> -->

            <!-- mobile screen -->
            <source media="(max-width: 767px)" srcset="
          ./images/sellers/sellers-img02-m-290.webp   290w,
          ./images/sellers/sellers-img02-m-435.webp   435w,
          ./images/sellers/sellers-img02-m-580.webp   580w,
          ./images/sellers/sellers-img02-m-695.webp   695w,
          ./images/sellers/sellers-img02-m-870.webp   870w,
          ./images/sellers/sellers-img02-m-1305.webp 1305w,
          ./images/sellers/sellers-img02-m-1390.webp 1390w,
          ./images/sellers/sellers-img02-m-2085.webp 2085w
        " sizes="(max-width: 320px) 290px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
              type="image/webp" />
            <source media="(max-width: 767px)" srcset="
          ./images/sellers/sellers-img02-m-290.png   290w,
          ./images/sellers/sellers-img02-m-435.png   435w,
          ./images/sellers/sellers-img02-m-580.png   580w,
          ./images/sellers/sellers-img02-m-695.png   695w,
          ./images/sellers/sellers-img02-m-870.png   870w,
          ./images/sellers/sellers-img02-m-1305.png 1305w,
          ./images/sellers/sellers-img02-m-1390.png 1390w,
          ./images/sellers/sellers-img02-m-2085.png 2085w
        " sizes="(max-width: 320px) 290px, (max-width: 480px) 435px, (max-width: 767px) 693px, 100vw"
              type="image/png" />
            <!-- fallback -->
            <img class="hero__img" src="./images/sellers/sellers-img02-m-2085.png" alt="Деталі" loading="lazy" />
          </picture>
        </div>
      </div>
      <div class="swiper-button__wraper">
        <div class="swiper-button__next">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button__prev">
          <svg class="swiper-button__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
      </div>
    </div>
</section>