<div class="section">
  <section class="sellers" id="sellers">
    <div class="sellers__container">
      <h2 class="sellers__title">Де купити?</h2>
      <div class="swiper-sellers">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a class="sellers__link" href="https://rozetka.com.ua/" target="_blank" rel="noopener noreferrer">
              <div class="sellers__item">
                <div class="sellers__wrap">
                  <svg class="sellers__icon" width="60" height="60">
                    <use href="./images/sprite.svg#icon-rozetka-logo"></use>
                  </svg>
                  <span class="sellers__name">Rozetka</span>
                </div>
                <p class="sellers__email">www.rozetka.com.ua</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="sellers__link" href="https://allo.ua/" target="_blank" rel="noopener noreferrer">
              <div class="sellers__item">
                <div class="sellers__wrap">
                  <img class="sellers__img" src="./images/sellers/allo-logo.png" alt="Алло" width="170">
                </div>
                <p class="sellers__email">www.allo.ua</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="sellers__link" href="https://www.foxtrot.com.ua/" target="_blank" rel="noopener noreferrer">
              <div class="sellers__item">
                <div class="sellers__wrap">
                  <img class="sellers__img" src="./images/sellers/foxtrot-logo.png" alt="Фокстрот" width="250">
                </div>
                <p class="sellers__email">www.foxtrot.com.ua</p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a class="sellers__link" href="https://eldorado.ua/" target="_blank" rel="noopener noreferrer">
              <div class="sellers__item">
                <div class="sellers__wrap">
                  <img class="sellers__img" src="./images/sellers/eldorado-logo.png" alt="Ельдорадо" width="250">
                </div>
                <p class="sellers__email">www.eldorado.ua</p>
              </div>
            </a>
          </div>
        </div>
        <div class="swiper-button__wraper">
          <div class="swiper-button__prev">
            <svg class="swiper-button__icon" width="92" height="12">
              <use href="./images/sprite.svg#icon-arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button__next">
            <svg class="swiper-button__icon" width="92" height="12">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
  </section>
</div>
