.accordion__item {
  border-radius: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));
  background-color: #081330;
  margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (768 - 320)));
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.accordion__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  padding: calc(25px + (35 - 25) * ((100vw - 320px) / (768 - 320)))
    calc(20px + (28 - 20) * ((100vw - 320px) / (768 - 320)));
  width: 100%;
  background-color: #0b1c47;
  border-radius: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    border-radius: 5px;
    padding: calc(25px + (20 - 25) * ((100vw - 1920px) / (768 - 1920)))
      calc(40px + (30 - 40) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.accordion__header {
  font-weight: 500;
  font-family: 'DIN Pro medium', sans-serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (768 - 320)));
  text-align: left;
  max-width: calc(192px + (520 - 192) * ((100vw - 320px) / (768 - 320)));
  color: #fff;

  @media screen and (min-width: 768px) {
    font-size: calc(18px + (14 - 18) * ((100vw - 1920px) / (768 - 1920)));
    min-width: calc(1100px + (576 - 1100) * ((100vw - 1920px) / (768 - 1920)));
  }

  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.accordion__icon {
  stroke: #ffffff;
  fill: transparent;
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.accordion__item--active .accordion__icon {
  transform: rotate(-180deg);
}

.accordion__thumb {
  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.accordion__descr {
  @extend .descr;
  padding: calc(15px + (21 - 15) * ((100vw - 320px) / (768 - 320)))
    calc(20px + (28 - 20) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    font-size: calc(16px + (14 - 16) * ((100vw - 1920px) / (768 - 1920)));
    padding: calc(24px + (20 - 24) * ((100vw - 1920px) / (768 - 1920)))
      calc(102px + (80 - 102) * ((100vw - 1920px) / (768 - 1920)))
      calc(33px + (27 - 33) * ((100vw - 1920px) / (768 - 1920)))
      calc(40px + (30 - 40) * ((100vw - 1920px) / (768 - 1920)));
  }

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}
