.accordion__item {
  border-radius: 5px;
  background-color: #081330;
  margin-bottom: 10px;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.accordion__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  padding: 25px 20px;
  width: 100%;
  background-color: #0b1c47;
  border-radius: 5px;
}

.accordion__header {
  font-weight: 500;
  font-family: 'DIN Pro medium', sans-serif;
  font-size: 14px;
  text-align: left;
  max-width: 192px;
  color: #fff;
}

.accordion__icon {
  stroke: #ffffff;
  fill: transparent;
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.accordion__item--active .accordion__icon {
  transform: rotate(-180deg);
}

.accordion__thumb {
  max-height: 0px;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.accordion__descr {
  @extend .descr;
  padding: 15px 20px;
}
