.btn {
  @include font(700, 20px, 1.2, 0em);
  font-family: var(--main-font);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: calc(4px + (6 - 4) * ((100vw - 320px) / (768 - 320)));
  // min-width: 236px;
  background: linear-gradient(to bottom right, #fccf31, #f55555);
  color: currentColor;
  padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  padding-right: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
  padding-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  padding-left: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
  transition-property: background-image;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom right, #f55555, #fccf31);
  }
}
