.btn {
  @include font(
    700,
    calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320))),
    1.2,
    0em
  );
  font-family: var(--main-font);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: calc(4px + (6 - 4) * ((100vw - 320px) / (768 - 320)));
  min-width: 100%;
  background: linear-gradient(to bottom right, #fccf31, #f55555);
  color: currentColor;
  padding-top: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  padding-right: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
  padding-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  padding-left: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
  transition-property: background-image;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    min-width: 237px;
    height: 65px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom right, #f55555, #fccf31);
  }
}

.btn__icon {
  width: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  height: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  fill: currentColor;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
}
