.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: var(--mobile);
  }

  @include desktop {
    width: var(--desktop);
    padding-right: 240px;
    padding-left: 240px;
  }
}
