.nav {
  @media screen and (max-width: 767px) {
    position: absolute;
  }
}

.nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: calc(60px + (30 - 60) * ((100vw - 1920px) / (768 - 1920)));
  }

  @media screen and (min-width: 1920px) {
    gap: 60px;
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
  }
}

.nav__link {
  @media screen and (max-width: 767px) {
    font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (min-width: 768px) {
    font-family: var(--third-font);
    font-size: calc(20px + (16 - 20) * ((100vw - 1920px) / (768 - 1920)));
    padding-top: calc(70px + (30 - 70) * ((100vw - 1920px) / (768 - 1920)));
    padding-bottom: calc(70px + (30 - 70) * ((100vw - 1920px) / (768 - 1920)));
  }

  @media screen and (min-width: 1920px) {
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
