.swiper-sellers {
  // position: relative;
  width: calc(1440px + (708 - 1440) * ((100vw - 1920px) / (768 - 1920)));
  overflow: hidden;

  & .swiper-slide {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // font-size: 18px;
    // background: #fff;
    // border: 1px solid #ddd;
    // height: calc(
    //   188px + (451 - 188) * ((100vw - 320px) / (768 - 320))
    // ) !important;
    // width: 560px !important;
    width: calc(
      290px + (695 - 290) * ((100vw - 320px) / (768 - 320))
    ) !important;
    height: calc(
      187px + (448 - 187) * ((100vw - 320px) / (768 - 320))
    ) !important;

    @media screen and (min-width: 768px) {
      width: calc(
        710px + (340 - 710) * ((100vw - 1920px) / (768 - 1920))
      ) !important;
      height: calc(
        354px + (175 - 354) * ((100vw - 1920px) / (768 - 1920))
      ) !important;
    }
  }

  & .swiper-wrapper {
    // width: 1440px;
    // overflow: hidden;
    // display: flex;
    // flex-wrap: wrap;
    // width: calc(290px + (695 - 290) * ((100vw - 320px) / (768 - 320)));
  }

  & .swiper-button__wraper {
    display: flex;
    gap: 37px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 40;
      right: calc(240px + (20 - 240) * ((100vw - 1920px) / (768 - 1920)));
    }

    @media screen and (min-width: 1920px) {
      position: absolute;
      top: 40;
      right: 240;
    }
  }

  & .swiper-button__prev,
  & .swiper-button__next {
    stroke: grey;
    fill: transparent;
    transition-property: stroke;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
      stroke: #fff;
    }
  }
}
