.header {
  @include section(30, 30);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: darkblue;
  z-index: 10;
}

.header__container {
  @extend .container;
  position: relative;
}

.header__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.menu-btn {
  fill: #ffffff;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: darkblue;
  overflow-y: scroll;
  transform: translateX(100%);
  padding: 52px 15px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
  }
}

.mobile-menu__close {
  position: absolute;
  top: 46px;
  right: 15px;
  display: flex;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.mobile-menu__icon {
  fill: currentColor;
}

.nav {
  @media screen and (max-width: 767px) {
    position: absolute;
    // display: none;
  }
}

.nav__list {
  display: flex;
  gap: 60px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
  }
}

.menu-btn {
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
