.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  &--no-transparency {
    background-color: var(--background-header-cl);
    backdrop-filter: blur(4px);
  }
}

.header__container {
  @extend .container;
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__thumb {
  @include section(
    calc(30px + (45 - 30) * ((100vw - 320px) / (768 - 320))),
    calc(30px + (45 - 30) * ((100vw - 320px) / (768 - 320)))
  );
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    @include section(70, 70);
  }
}

.logo {
  @media screen and (max-width: 767px) {
    width: calc(135px + (189 - 135) * ((100vw - 320px) / (768 - 320)));
    height: calc(48px + (67 - 48) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (min-width: 768px) {
    width: 176px;
    height: 62px;
  }
}

.logo,
.burger-btn {
  fill: #ffffff;
}

.burger-btn {
  display: block;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn__icon {
  width: calc(28px + (40 - 28) * ((100vw - 320px) / (768 - 320)));
  height: calc(20px + (29 - 20) * ((100vw - 320px) / (768 - 320)));
}
