.hero {
  @include section(
    calc(110px + (220 - 110) * ((100vw - 320px) / (768 - 320))),
    calc(50px + (80 - 50) * ((100vw - 320px) / (768 - 320)))
  );
  @include circle();
  @include rectangle-ltr();
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #010b26;

  @media screen and (min-width: 768px) {
    @include section(
      calc(360px + (144 - 360) * ((100vw - 1920px) / (768 - 1920))),
      calc(180px + (72 - 180) * ((100vw - 1920px) / (768 - 1920)))
    );
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(1, 11, 38, 0.95),
        rgba(1, 11, 38, 0.95)
      ),
      url('../images/section-bg/section-bg.jpg');
  }
}

.hero__container {
  @extend .container;

  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    padding-top: calc(73px + (40 - 73) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__wrap {
  @media screen and (min-width: 768px) {
    margin-top: calc(-73px + (-40 - (-73)) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__title {
  font-size: var(--fs-hero-title);
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    font-size: calc(72px + (42 - 72) * ((100vw - 1920px) / (768 - 1920)));
    max-width: calc(588px + (330 - 588) * ((100vw - 1920px) / (768 - 1920)));
    margin-bottom: calc(30px + (20 - 30) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__descr {
  font-weight: light;
  font-family: var(--secondary-font);
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
  color: rgba(255, 255, 255, 0.9);

  @media screen and (max-width: 767px) {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (min-width: 768px) {
    font-family: var(--third-font);
    font-size: calc(20px + (14 - 20) * ((100vw - 1920px) / (768 - 1920)));
    max-width: calc(487px + (300 - 487) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__img {
  @media screen and (min-width: 768px) {
    margin-bottom: calc(30px + (20 - 30) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: calc(30px + (45 - 30) * ((100vw - 320px) / (768 - 320)));
  }
}

.hero__thumb {
  display: inline-flex;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (768 - 320)));
  margin-bottom: calc(11px + (17 - 11) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    padding: calc(15px + (12 - 15) * ((100vw - 1920px) / (768 - 1920)));
    margin-bottom: calc(15px + (10 - 15) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__icon {
  width: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  height: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  fill: currentColor;

  @media screen and (min-width: 768px) {
    width: calc(30px + (20 - 30) * ((100vw - 1920px) / (768 - 1920)));
    height: calc(30px + (20 - 30) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__description {
  font-weight: 500;
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    font-size: calc(16px + (14 - 16) * ((100vw - 1920px) / (768 - 1920)));
  }
}

.hero__btn {
  @extend .btn;

  @media screen and (max-width: 767px) {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
    min-width: 100%;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: calc(-100px + (-10 - (-100)) * ((100vw - 1920px) / (768 - 1920)));
    left: calc(240px + (30 - 240) * ((100vw - 1920px) / (768 - 1920)));
    font-size: calc(20px + (18 - 20) * ((100vw - 1920px) / (768 - 1920)));
    min-width: calc(237px + (190 - 237) * ((100vw - 1920px) / (768 - 1920)));
    height: calc(65px + (55 - 65) * ((100vw - 1920px) / (768 - 1920)));
  }

  @media screen and (min-width: 1920px) {
    bottom: 62;
    left: 240;
  }
}

.hero__btn-icon {
  @extend .btn__icon;
}
