.hero {
  @include section(
    calc(110px + (220 - 110) * ((100vw - 320px) / (768 - 320))),
    calc(50px + (80 - 50) * ((100vw - 320px) / (768 - 320)))
  );
  position: relative;
  background-color: #010b26;
  z-index: 0;
  overflow: hidden;
}

.hero::after {
  @extend %bg-ltr;
}

.hero__container {
  @extend .container;
}

.hero__title {
  font-size: var(--fs-hero-title);
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
}

.hero__descr {
  font-weight: light;
  font-family: var(--secondary-font);
  font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
}

.hero__img {
  // z-index: 10;
}

.hero__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: calc(30px + (45 - 30) * ((100vw - 320px) / (768 - 320)));
}

.hero__thumb {
  display: inline-flex;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (768 - 320)));
  margin-bottom: calc(11px + (17 - 11) * ((100vw - 320px) / (768 - 320)));
}

.hero__icon {
  @extend .btn__icon;
}

.hero__description {
  font-weight: 500;
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (768 - 320)));
}

.hero__btn {
  @extend .btn;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  width: 100%;
}
