.info {
  @include section();
  @include rectangle-rtl();
  position: relative;
  background-color: #010b26;
  z-index: 0;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    @include section(350, 84);
    width: 100%;
    height: 100vh;
  }
}

.info__title {
  @extend .section-title;
  margin-bottom: calc(30px + (42 - 30) * ((100vw - 320px) / (768 - 320)));

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
