.info {
  @include section();
  position: relative;
  background-color: #010b26;
  z-index: 0;
  overflow: hidden;
}

.info::after {
  @extend %bg-rtl;
  top: calc(20% + (0 - 150) * ((100vw - 320px) / (768 - 320)));
}

.info__title {
  @extend .section-title;
  margin-bottom: calc(30px + (42 - 30) * ((100vw - 320px) / (768 - 320)));
}
