.products {
  @include section();
  position: relative;
  background-color: #010b26;
  z-index: 0;
  overflow: hidden;
}

.products::after {
  @extend %bg-rtl;
}

.products__item {
  border-radius: 4px;
  background-color: #0b1c47;
  padding: calc(20px + (48 - 20) * ((100vw - 320px) / (768 - 320)));
}

.products__item:not(:last-child) {
  margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (768 - 320)));
}

.products__title {
  @extend .section-title;
  margin-bottom: calc(30px + (42 - 30) * ((100vw - 320px) / (768 - 320)));
}

.product__img {
  margin: 0 auto;
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
}

.products__subtitle {
  @extend .subtitle;
  margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (768 - 320)));
}

.products__descr {
  @extend .descr;
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
}

.products__price {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
}

.products__btn {
  @extend .btn;
}
