.sellers {
  @include section();
  position: relative;
  background-color: #010b26;
  z-index: 0;
  overflow: hidden;
}

.sellers::after {
  @extend %bg-ltr;
  top: calc(30% + (0 - 100) * ((100vw - 320px) / (768 - 320)));
}

.sellers__title {
  @extend .section-title;
  margin-bottom: calc(30px + (42 - 30) * ((100vw - 320px) / (768 - 320)));
}
